<div class="dashboard">
  <h1>Bem-vindo ao Sistema de Gestão de Frotas</h1>

  <div class="cards">
    <div class="card" >
      <div class="icon">🚚</div>
      <h3>Veículos Disponíveis</h3>
      <p class="count">{{ vehiclesAvailable }}</p>
    </div>

    <div class="card" (click)="navigateTo('vehicles')">
      <div class="icon">🛠️</div>
      <h3>Em Manutenção</h3>
      <p class="count">{{ vehiclesMaintenance }}</p>
    </div>

    <div class="card" (click)="navigateTo('routes')">
      <div class="icon">🗺️</div>
      <h3>Rotas Próximas</h3>
      <p class="count">{{ upcomingRoutes }}</p>
    </div>

    <div class="card" (click)="navigateTo('vehicles')">
      <div class="icon">🟢</div>
      <h3>Veículos em Uso</h3>
      <p class="count">{{ vehiclesInUse }}</p>
    </div>

    <div class="card fuel-card" (click)="navigateTo('fuel')">
      <div class="icon">⛽</div>
      <h3>Abastecimentos Hoje</h3>
      <p class="count">{{ fuelEntriesToday }} registros</p>
      <p>Total: {{ fuelTotalLiters }} L</p>
    </div>
  </div>

  <div class="quick-links">
    <h2>Ações Rápidas</h2>
    <div class="links">
      <button (click)="navigateTo('veiculos')">Gerenciar Veículos</button>
      <button (click)="navigateTo('drivers')">Gerenciar Motoristas</button>
      <button (click)="navigateTo('RotasList')">Rotas</button>
      <button (click)="navigateTo('fuel')">Gerenciar Abastecimentos</button>
      <button (click)="navigateTo('reports')">Relatórios</button>
      @if(serviceLogin.hasRole("ADMIN")){
      <button (click)="navigateTo('userlist')"> gerenciamento de usuarios</button>
      }
    </div>
  </div>
</div>
